
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div *ngIf="showRegisterForm">
        <h2>Register</h2>
        <form (ngSubmit)="register()">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" [(ngModel)]="registerData.name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" [(ngModel)]="registerData.email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="registerData.password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p class="mt-3">Already have an account? <a [routerLink]="['/login']">Login</a></p>
      </div>
      <div *ngIf="!showRegisterForm">
        <app-login (toggleForms)="toggleForms()"></app-login>
      </div>
    </div>
  </div>
</div>
