
<div class="container mt-4">

  <div class="top-section">
    <div class="left">
      <h1 class="title">Startups</h1>
    </div>

    <div class="left">
      <div class="user-info">
        <span><b>{{ loggedUser.name }}</b></span> |
        <span>{{ loggedUser.email }}</span>
      </div>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>

  <hr>

  <div class="search-area">
    <div class="left">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        class="form-control"
        placeholder="Search by Startup Name"
        (input)="filterStartups()"
      />
    </div>
    <div class="right">
      <a class="btn btn-success" href="./create-startup">Create New</a>
      <a class="btn btn-primary" (click)="filterFounderStartups()">My Startups</a>
      <a class="btn btn-dark" (click)="filterAllStartups()">View All</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let startup of filteredStartups">
      <div class="card" (click)="redirectToStartup(startup.id)">
        <div class="card-body">
          <h2 class="card-title">{{ startup.name }}</h2>
          <a [href]="appService.sanitizeUrl(startup.website)" target="_blank" class="card-link">{{ startup.website }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
