<div class="container mt-4">

  <div class="row justify-content-center">
    <div class="col-md-6">

    <div class="mb-4">
      <a class="mb-4" href="./dashboard">Back to Dashboard</a>
    </div>

    <h1>Startup</h1>
    <form #startupForm="ngForm">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="startup.name" [disabled]="!isEditable()">
          </div>

          <div class="form-group">
            <label for="businessDomain">Business Domain</label>
            <input type="text" class="form-control" id="businessDomain" name="businessDomain" [(ngModel)]="startup.businessDomain" [disabled]="!isEditable()">
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" [(ngModel)]="startup.description" [disabled]="!isEditable()"></textarea>
          </div>

          <div class="form-group">
            <label for="grossSales">Gross Sales</label>
            <input type="number" class="form-control" id="grossSales" name="grossSales" [(ngModel)]="startup.grossSales" [disabled]="!isEditable()">
          </div>

          <div class="form-group">
            <label for="netSales">Net Sales</label>
            <input type="number" class="form-control" id="netSales" name="netSales" [(ngModel)]="startup.netSales" [disabled]="!isEditable()">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="businessStartDate">Business Start Date</label>
            <input type="text" class="form-control" id="businessStartDate" name="businessStartDate"
              [value]="appService.formatDate(startup.businessStartDate)" [disabled]="!isEditable()">
          </div>

          <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website" name="website" [(ngModel)]="startup.website" [disabled]="!isEditable()">
          </div>

          <div class="form-group">
            <label for="businessLocation">Business Location</label>
            <input type="text" class="form-control" id="businessLocation" name="businessLocation" [(ngModel)]="startup.businessLocation" [disabled]="!isEditable()">
          </div>

          <div class="form-group">
            <label for="employeeCount">Employee Count</label>
            <input type="number" class="form-control" id="employeeCount" name="employeeCount" [(ngModel)]="startup.employeeCount" [disabled]="!isEditable()">
          </div>

          <div class="form-group">
            <label for="founderName">Founder</label>
            <input type="text" class="form-control" id="founderName" name="founderName" [(ngModel)]="startup.founderName" [disabled]="!isEditable()">
          </div>
        </div>
      </div>


      <div class="mt-4 mb-4">
        <button type="submit" class="btn btn-primary" *ngIf="isEditable()" (click)="updateStartup()" >Update</button>

        <button type="button" class="btn btn-danger m-2" *ngIf="isEditable()" (click)="deleteStartup()">Delete</button>
      </div>
    </form>
  </div>
</div>
</div>
